include MANIFEST.in
include README COPYING NEWS TODO

global-include .cvsignore

recursive-include doc Makefile
include doc/src/*.texi
include doc/info/python-xlib.info doc/info/python-xlib.info-*[0-9]
include doc/html/index.html doc/html/python-xlib_toc.html
include doc/html/python-xlib_*.html doc/html/texi2html
include doc/ps/python-xlib.ps

include utils/tcpbug.py utils/parsexbug.py

include examples/draw.py examples/draw-proto.py examples/profilex.py
include examples/shapewin.py
include examples/threadtest.py

